<div class="container">
    <div class="row">
      <div class="col-md-4 mb-3">
        <mat-card class="order-card">
          <div>
            <img
              mat-card-image
              src="https://static.wixstatic.com/media/5ab9c4_56dfb18114f046c9af7bcf0ec1b456fb~mv2.jpg/v1/fill/w_480,h_480,al_c,lg_1,q_80/5ab9c4_56dfb18114f046c9af7bcf0ec1b456fb~mv2.webp"
            />
          </div>
  
          <mat-card-content>
            <h1>Firualis</h1>
            <p>Perrita juguetona, en busca de una familia responsable.</p>
            <button mat-button routerLink="/" class="ms-2" >Postular</button>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-md-4 mb-3">
        <mat-card class="order-card">
          <div>
            <img
              mat-card-image
              src="https://static.wixstatic.com/media/5ab9c4_1e2e09b548d249ebae7d7de7072ef1fa~mv2.jpg/v1/fill/w_480,h_480,al_c,q_80,usm_0.66_1.00_0.01/5ab9c4_1e2e09b548d249ebae7d7de7072ef1fa~mv2.webp"
            />
          </div>
  
          <mat-card-content>
            <h1>Max</h1>
            <p>Perro recién rescatado en busca de un nuevo hogar</p>
            <button mat-button routerLink="/" class="ms-2" >Postular</button>
          </mat-card-content>
        </mat-card>
      </div>
  
      <div class="col-md-4 mb-3">
        <mat-card class="order-card">
          <div>
            <img
              mat-card-image
              src="https://static.wixstatic.com/media/5ab9c4_d4cceba1955e45c78d758fc94d191f71~mv2.jpg/v1/fill/w_480,h_480,al_c,q_80,usm_0.66_1.00_0.01/5ab9c4_d4cceba1955e45c78d758fc94d191f71~mv2.webp"
            />
          </div>
  
          <mat-card-content>
            <h1>Burbuja</h1>
            <p>Perro recién rescatado en busca de un nuevo hogar</p>
            <button mat-button routerLink="/" class="ms-2" >Postular</button>
          </mat-card-content>
        </mat-card>
      </div>
    
      <div class="col-md-4 mb-3">
        <mat-card class="order-card">
          <div>
            <img
              mat-card-image
              src="https://static.wixstatic.com/media/5ab9c4_c395ca1118c24975b6e1b7f74c3f1b46~mv2.jpg/v1/fill/w_480,h_480,al_c,q_80,usm_0.66_1.00_0.01/5ab9c4_c395ca1118c24975b6e1b7f74c3f1b46~mv2.webp"
            />
          </div>
  
          <mat-card-content>
            <h1>Max</h1>
            <p>Perro recién rescatado en busca de un nuevo hogar</p>
            <button mat-button routerLink="/" class="ms-2" >Postular</button>
          </mat-card-content>
        </mat-card>
      </div>
  
      <div class="col-md-4 mb-3">
        <mat-card class="order-card">
          <div>
            <img
              mat-card-image
              src="https://static.wixstatic.com/media/5ab9c4_f92b9bb188af491cbfa22c25d580bb35~mv2.jpg/v1/fill/w_480,h_480,al_c,lg_1,q_80/5ab9c4_f92b9bb188af491cbfa22c25d580bb35~mv2.webp"
            />
          </div>
  
          <mat-card-content>
            <h1>Max</h1>
            <p>Perro recién rescatado en busca de un nuevo hogar</p>
            <button mat-button routerLink="/" class="ms-2" >Postular</button>
          </mat-card-content>
        </mat-card>
      </div>
  
      <div class="col-md-4 mb-3">
        <mat-card class="order-card">
          <div>
            <img
              mat-card-image
              src="https://static.wixstatic.com/media/5ab9c4_33a15f7feae84d8c80ba940dcf7a83b9~mv2.jpg/v1/fill/w_480,h_480,al_c,lg_1,q_80/5ab9c4_33a15f7feae84d8c80ba940dcf7a83b9~mv2.webp"
            />
          </div>
  
          <mat-card-content>
            <h1>Max</h1>
            <p>Perro recién rescatado en busca de un nuevo hogar</p>
            <button mat-button routerLink="/" class="ms-2" >Postular</button>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>

  <p>
    <mat-toolbar>
      <span>PetSos App</span>
      <span class="spacer"></span>
      <button mat-button><i class="fab fa-2x fa-facebook"></i></button>
      <button mat-button><i class="fab fa-2x fa-whatsapp"></i></button>
      <button mat-button><i class="fab fa-2x fa-youtube"></i></button>
    </mat-toolbar>
  </p>