<mat-toolbar id="nav-menu">
  &nbsp;<mat-icon aria-hidden="false" aria-label="Example home icon" style="color:#3f51b5;">home</mat-icon>
  &nbsp;<span>PetSos App</span>
  
    <span class="spacer"></span>
  
    <button mat-button routerLink="/" class="ms-2" >Inicio</button>
    <button mat-button routerLink="/" class="ms-2" >Adopta</button>
    <button mat-button routerLink="/" class="ms-2" >Nosotros</button>
    <button mat-button routerLink="/admin/mascotas" class="ms-2" >
      Iniciar sesión
    </button>
  </mat-toolbar>
  
  <router-outlet></router-outlet>
  
